<%- include('./includes/head') %>
<%- include('./includes/menu') %>
<%- include('./includes/nav') %>


<main class="grid-parent height82">
    <div class="grid-item nav-grid">
        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
              <a class="nav-link" href="/dashbord/venda">Venda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/dashbord/categoria">Categoria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashbord/funcionario">Vendedores</a>
            </li>
          </ul>
    </div>

    <div class="grid-item chart-grid-complete-pie">
        <div class="container-chart-pie">
            <canvas id="chart-venda"></canvas>
        </div>
    </div>

</main>
<script src="/plugins/chart.js-3.6.0/package/dist/chart.js"></script>
<script>
    const canvas = document.querySelector('#chart-venda').getContext('2d');
    const valores = [];
    const tipos = '<%= data.tipos %>'.split(',');
    const temp = '<%= data.vendas %>'.split(',');
    temp.forEach( item =>{
        const value = Number.parseFloat(item).toFixed(2);
        valores.push(value);
    })
        const chart = new Chart(canvas, {
        type: 'doughnut',
        data:{
            labels: tipos,
            datasets:[{
                label:'Categoria:',
                data: valores,
                backgroundColor: ['#F2C879', '#D95F43','#A61F1F','#0D0D0D','#F2C879', '#D95F43','#A61F1F','#0D0D0D','#F2C879', '#D95F43','#A61F1F','#0D0D0D','#F2C879', '#D95F43','#A61F1F','#0D0D0D'],
                hoverOffset: 10
            }],
        },
        options:{
            scales:{
                y:{
                    ticks:{
                        display:false
                    },
                    grid:{
                        display:true,
                        drawTicks: false,
                        offset: true,
                        drawBorder: false,
                    }
                },
            },
            animation:{
                duration : 1000,
                easing: 'easeOutCirc'
            },
            plugins:{
                legend:{
                    position:'top',
                labels:{
                    font:{
                        size:16
                    }
                },
                title:{
                    display: true,
                    text:'Comparação de Vendas por Cartegoria',
                    font:{
                        size: 16
                    }
                }
            },
            }
           
        }
    });
</script>
<%- include('./includes/footer') %> 