<%- include('./includes/head') %>
<%- include('./includes/menu') %>
<%- include('./includes/nav') %>
  <main id="contato">
    <section class="container">
      <!-- MENU -->
      <nav>
        <ul class="nav justify-content-center">
          <li class="nav-item"><a class="nav-link" href="relatorioCliente.html" style="color:white">Cliente</a></li>
          <li class="nav-item"><a class="nav-link" href="relatorioVendas.html" style="color:white">Vendas</a></li>
          <li class="nav-item"><a class="nav-link" href="relatorioFuncionario.html" style="color:white">Funcionários</a>
          </li>
        </ul>
      </nav>
      <%- include('./includes/message') %>
      <form id="form-cliente" class="my-3" method="GET">
        <label>Classificar Por: </label>

        <select style="width: 307px;" name="orderby" class="orderby" aria-label="Pedido da loja">
          <option value="name" selected="selected">Ordenar por nome A-Z </option>
          <option value="date">Ordenar por mais recente</option>
          <option value="price">Ordenar por compra: menor para maior</option>
          <option value="price-desc">Ordenar por compra: maior para menor</option>
        </select>
        <button class="btn btn-secondary" type="submit"><span style="font-size: 15px;"><i class="fas fa-arrow-alt-circle-right"></i></span></button>
      </form>

        <!-- DIV  Nome, E-mail, Nascimento, CPF e Total -->
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">CPF</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Total em Compra</th>
              </tr>
            </thead>
            <tbody class="table-relatorio">
                <% clientes.forEach(cliente => { 
                  const link = `/editar/cliente/${cliente.id_cliente}`%>
                <tr>
                  <th scope="row"> <%- cliente.cpf %> </th>
                  <td> <%- cliente.nome %> </td>
                  <td> <%- cliente.email %> </td>
                  <td> <% if(cliente.data_nasc){ %>
                    <%- cliente.data_nasc.toLocaleDateString() %>
                  <% } %> </td>
                  <td> <%- cliente.totalCompra %></td>
                  <td>
                    <a class="btn btn-link" href="<%- link %>">
                    <button type="button" class="btn btn-secondary btn-sm">Editar</button>
                  </a>
                    </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <script src="/js/relatorios.js"></script>
 <%- include('./includes/footer') %>