<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/user.css">
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
  
  <title>Samurai Games Store</title>
</head>
<body>

<%- include('./includes/menu') %>
<%- include('./includes/nav') %>

<% if(user){ %>
<div class="container-fluid user-parent">
    <section class="row user-data mt-4">
      <h3>Dados Pessoal</h3>
      <%- include ('./includes/message') %>
       <form id="form-user" onsubmit="return validarSenha();" action="/user/alter" method="POST">
          <div class="row">
            <div class="col ">
              <label for="user-name" class="form-label">NOME</label>
              <input name="nome" readonly value="<%- user.nome %>"  type="text" class="form-control blocked" id="user-name" >
            </div>
         </div>
         <div class="col">
           <label name="" for="user-email" class="form-label">E-MAIL</label>
           <input name="email" readonly value="<%- user.email %>" type="email" class="form-control blocked" id="user-email" >
         </div>
         <div class="col">
            <label for="user-cargo" class="form-label">CARGO</label>
            <select disabled name="cargo" id="user-cargo" class="form-control blocked">
              <% user.cargos.forEach( (el) =>{
                if(el === user.cargo){ %>

                <option selected value="<%- el %>"> <%- el %> </option>

              <% }else{ %>

                <option value="<%- el %>"> <%- el %> </option>
                
              <% }}) %>
            </select>
         </div>
          <div class="col-auto">
            
          </div>
           
           <div class="row g-3 space-betewen">
             <div class="col-4">
               <label  for="user-password" class="col-form-label">SENHA</label>
               <input disabled type="password" id="user-password" class="form-control blocked" value="NãoÉSenha">
             </div>
             <div class="col-4">
              <label hidden id="lbl-pass2" for="user-password2" class="col-form-label">Confirmar</label>
              <input hidden type="password" id="user-password2" class="form-control" value="">
            </div>
             <div class="col-3 mt-auto">
                <div class="row row-cols-2 me-1">
                  <div class="col"><a hidden id="btn-cancel" href="/user" class="btn btn-danger blocked"> Voltar </a></div>
                  <div class="col"><button id="btn-alterar" type="button" class="btn btn-primary">Alterar</button></div>                  
                </div>
             </div>
           </div>
         </form>
   </section>
   <script src='./js/user.js'></script>
<% } %>
   <%- include('./includes/footer') %>